body{
    background-color: rgb(241, 236, 236);
    font-family: "Inter", sans-serif;
     display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(fotos/fundo2.jpeg);
      background-size: cover;

}

h1{
    font-family: 'Bangers', cursive;
     font-size: 90px;
    color: red;
    text-shadow: 3px 3px 0 blue;
    margin-bottom: 4rem;
    
}